.focal{

}
.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}
.content {
    position: relative;
    width: 800px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
    overflow: hidden;
}
.hidden{
	visibility: hidden;
}

h1{
text-align: center;

}
