body{font-family: 'Bungee Inline', cursive;
color:black;
}
h1{
    color:white;
    font-size:40px; 

}
.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #5C5149;
    border: 1px solid #1D1518;
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
}
.results{ position: relative;
    width: 800px;
    padding: 20px;
    margin: 50px auto;
    background-color: #BAD1CA;
    border: 1px solid #1D1518;
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
    overflow: hidden;
    font-size:40px;}
.content {
    position: relative;
    width: 800px;
    padding: 20px;
    margin: 50px auto;
    background-color: #BAD1CA;
    border: 1px solid #1D1518;
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
    overflow: hidden;
    font-size:40px;
}
.hidden{
	visibility: hidden;
}

.text-center{
text-align: center;
padding:20px;

}
button {
	color:black;
    margin: 30px auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:  #A79D94;
    border-radius: 7%;
    height: 40px;
    width: 100px;
   font-family: 'Bungee Inline', cursive;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #1D1518;
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
}
.answers{
	margin: 50px;

}

ul {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

li{
display: inline-block;
	width: 50%;
}

input[type="radio"] {
 opacity: 0;
}

label{ padding:  5px ;
		margin-top: 10px;
    text-align: center;
    background-color: #7CA9AD;
    
    height: 70px;
    width: 90%;
  	 font-family: 'Bungee Inline', cursive;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
	border: 1px solid  #1D1518;
    border-bottom-width: 10px;
    border-radius: 5px;
    border-bottom-radius: 10px;
    }
    label:hover{
	background-color: #95A49F;
	
}
label:active{
	background-color: #A79D94;
}
.js-select{
background-color: #563B42;
color:#fff;
border: 1px solid #fff;
}
button:active{
	background-color:#755050;
}
.reset{
    background-color: #D00017;
    float:left;
    margin-top:10px;
}
#enterans{
     height: 80px;
    width: 200px;
    float:right;
    background-color: #A79D94;
}
#tryAgain{
    float:right;
}